<nav class="navbar" *ngIf="isLogin">
  <div class="logo">Blog App</div>
  <ul class="nav-links">
    <li><a [routerLink]="['/dashboard']">Home</a></li>
    <li><a [routerLink]="['/show-my-blogs']">My Blogs</a></li>
    <li><a [routerLink]="['/create-blog']">Post Blog</a></li>
  </ul>
  <div class="nav-buttons">
    @if(pic){
      <img [src]="pic" alt="profile pic" style="border-radius: 0.3rem;" width="40">
      <a class="btn btn-danger" (click)="signOut()">Logout</a>
    } @else {
      <a class="btn-outline">Login</a>
      <a class="btn">Sign Up</a>
    }
  </div>
</nav>
<router-outlet />
