<div class="login-container">
  <h2>Login</h2>
  <form>
    <div class="input-group">
      <input type="email" id="email" placeholder="Email" required>
    </div>
    <div class="input-group">
      <input type="password" id="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn">Login</button>
    <p class="register">Don't have an account? <a>Register</a></p>
  </form>
  <hr style="margin: 0.5rem;">
  <div class="g_id_signin" data-type="icon" data-shape="circle" data-theme="filled_white" data-text="continue_with"
    data-size="large" style="display: flex; justify-content: center;">
  </div>
  
</div>
<div id="g_id_onload" data-client_id="681286926095-jgajvrn5d9q7uur4eal5ht0t6n6e378l.apps.googleusercontent.com"
  data-context="use" data-ux_mode="popup" data-callback="handlecallback" data-itp_support="true">
</div>
