<div class="dashboard-container">
  <h2>My Blog Posts</h2>

  <button class="btn create-btn" routerLink="/create-blog">+ Create New Blog</button>

  <div *ngIf="blogs.length > 0; else noBlogs">
      <div *ngFor="let blog of blogs" class="blog-card">
          <h3>{{ blog.title }}</h3>
          <p>{{ blog.content }}...</p>
          <button class="btn edit-btn" [routerLink]="['/create-blog', blog.id]">Edit</button>
          <button class="btn edit-btn">Edit</button>
      </div>
  </div>

  <ng-template #noBlogs>
      <p>No blogs found. Start writing your first post!</p>
  </ng-template>
</div>
