.dashboard-container {
  text-align: center;
  padding: 20px;
}

.blog-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.create-btn {
  margin-bottom: 20px;
}

.make-g {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #333;
}
