<div class="dashboard-container">
  <div class="blog-head">
    <h2>My Blog Posts</h2>
    <button class="btn create-btn" routerLink="/create-blog">+ Create New Blog</button>
  </div>

  <div *ngIf="blogs.length > 0; else noBlogs" class="wrapper">
      <div *ngFor="let blog of blogs" class="blog-card make-g">
          <h3>{{ blog.title }}</h3>
          <p>{{ blog.content }}...</p>
          <p>by --{{ blog.userEmail }}...</p>
          <!-- <button class="btn edit-btn pr-2" (click)="appService.sharePost = blog" [routerLink]="['/create-blog', blog.id]">Edit</button> -->
      </div>
  </div>

  <ng-template #noBlogs>
      <p>No blogs found. Start writing your first post!</p>
  </ng-template>
</div>
